<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                 <resource id="Bat_AccountClosure::accountclosure" title="Account Closure" translate="title" sortOrder="40">
                    <resource id="Bat_AccountClosure::manageAccountClosure"  title="Account Closure Request" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>