<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bat_general_config" translate="label" sortOrder="10">
            <label>BAT</label>
        </tab>
        <section id="requisitionlist_bat" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Requisition List</label>
            <tab>bat_general_config</tab>
            <resource>Bat_RequisitionList::requisitionlist_config</resource>
            <group id="requisitionlist" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <field id="requisitionlist_admin" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Requisition List admin</label>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="last_number_of_months" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Last Number of months</label>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="transactional_rl_required_qty" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Required Quantity for Transactional RL</label>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="firstorder_rl" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select First Order RL</label>
                    <source_model>Bat\RequisitionList\Model\Entity\Attribute\Source\RequisitionList</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
