<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vba_config" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>VBA</label>
            <tab>bat_general_config</tab>
            <resource>Bat_VirtualBank::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>VBA Email Configuration</label>
                <field id="vba_cron_schedule" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                   <label>Cron Schedule</label>
                   <validate>required-entry</validate>
                </field>
                <field id="vba_accounts_notify_admin" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Virtual Bank Notify Admin Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="vba_notify_to_name" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Receiver Name</label>
                    <validate>required-entry</validate>
                </field>
                <field id="vba_notify_to_email" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Receiver Email address</label>
                    <validate>required-entry validate-email</validate>
                </field>
            </group>
        </section>
    </system>
</config>
